      <!-- Professional Headshot -->
      <div class="container" id="page-content">
          <div class="row">
              <div class="col-sm-4" id="headshot-container">
                <%= image_tag('propic.jpg') %>
              </div>
      
          <div class="col-sm-8" id="about-container">
            <h2>About Me</h2>
      
            <!-- Short Bio -->
            <p>Graduate of Florida State University in the field of Anthropology and the On-Ramp program of I/O Avenue provided by FAMU, Domi Station, and
                the Office of the Mayor of Tallahassee.  Also as a graduate of the On-Ramp program, a far more adequate website is available.  Seriously, 
                this is NOT the site you are looking for.  That website can be accessed by going to stevenfirestone.me (courtesy of the I/O Avenue On-Ramp Program).</p>
    
            <!-- Nonsensory Response --><br>
            <p>In the meantime, enjoy this "slightly" and wonderfully random load of complete jibberish courtesy of Hipster Ipsum:</p>
          
            <p><i>"Edison bulb DIY copper mug, truffaut four loko four dollar toast crucifix pickled chillwave poutine. Copper mug wolf intelligentsia 
                hoodie af hammock shoreditch vinyl cloud bread truffaut vegan mixtape direct trade la croix. Stumptown venmo kinfolk thundercats. 
                Sartorial forage vexillologist taxidermy, keffiyeh intelligentsia pour-over plaid yr cray narwhal snackwave cardigan readymade. Ramps 
                master cleanse mumblecore trust fund seitan. Woke shaman cliche, gochujang you probably haven't heard of them hexagon chicharrones 3 
                wolf moon meh franzen raw denim mlkshk. Twee microdosing umami aesthetic bushwick truffaut frumpledyhump."</i></p>
      
            <!-- Some Links --><br>
            <p>Also, some links!</p>
            <a class="btn btn-outline-dark" href="https://www.linkedin.com/in/steven-firestone/">LinkedIn</a>
            <a class="btn btn-outline-dark" href="https://github.com/sa-firestone">GitHub</a>
            <a class="btn btn-outline-dark" href="mailto:stevenfirestonetlh@gmail.com">Email</a>
          </div>
      </div>
  </div>
  
